.git
.github
.husky
node_modules
**/node_modules
.pnpm-store
.lorestra
**/.lorestra
.wrangler
**/.features-gen/
**/.features-gen-http/
**/.stryker-tmp/
**/wrangler.log
**/.wrangler
dist
**/dist
build
**/build
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
reports
**/reports
artifacts
**/artifacts
.features-gen
.features-gen-http
.stryker-tmp
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.dev.vars
.dev.vars.*
!.dev.vars.example
**/.dev.vars
**/.dev.vars.*
!**/.dev.vars.example
*.local
*.tsbuildinfo
pnpm-debug.log*
debug.log
